/* src/App.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(17, 16, 15);
  color: rgb(255, 255, 255);
  margin: 0;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: rgb(30, 29, 25);
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: rgb(8, 8, 7);
  color: white;
}

.btn-outline-primary {
  border-color: rgb(30, 29, 25);
  color: rgb(30, 29, 25);
}

.btn-outline-primary:hover {
  background-color: rgb(30, 29, 25);
  color: white;
}

.navbar {
  background-color: rgb(8, 8, 7) !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ccc !important;
}
.navbar .nav-link:hover {
  color: #ccc !important;
}
